.inputContainer {
  display: flex;
  margin: 0.5rem;
  /* border: 2px solid purple; */
  line-height: 100%;
}

.label {
  min-width: 120px;

  /* border: 2px solid pink; */
}

.button {
  border: 1.5px dotted var(--primary-border);
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  width: 100px;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 4px;
  border-radius: 4px;
}

.formWrapper {
  /* border: 2px solid blue; */
}

.wrapper {
  border: 2px solid var(--primary-border);
  border-radius: 4px;
  width: 400px;
  padding: 10px;
}

.input {
  flex: 1;
}

.textWrapper {
  padding: 15px 0;
  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
}

.title h2 {
  margin-left: 15px;
}
