.wrapper {
  /* width: 100%; */
  flex: 1;
  background-color: var(--card-color-background);
  /* border: 1.5px dotted var(--primary-border); */
  box-shadow: 0px 0px 3px 0px var(--primary-border);
  border-radius: 4px;
  /* border: 2px solid blue; */
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.button {
  border: 1.5px dotted var(--primary-border);
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  width: 100px;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 4px;
  border-radius: 4px;
}

.button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.rocker {
  display: inline-block;
  position: relative;
  /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
  font-size: 1em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_left,
.switch_right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch_left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch_right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch_left::before,
.switch_right::before {
  content: '';
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch_left::before {
  left: -0.4em;
}

.switch_right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch_left {
  background-color: var(--secondary-color-background);
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch_left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch_left + .switch_right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch_left + .switch_right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch_left {
  color: #333;
}

input:checked:focus + .switch_left {
  color: #fff;
}

input:focus + .switch_left + .switch_right {
  color: #fff;
}

input:checked:focus + .switch_left + .switch_right {
  color: #333;
}
