.mainContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* border: 2px solid green; */
}

.headerWrapper {
  width: 100%;
  display: flex;
  padding: 16px;
  /* border: 2px solid green; */
}

.gridWrapper {
  flex: 1;
  /* display: flex; */
  padding: 16px;
  max-width: 100%;
}

.cardsWrapper {
  background-color: var(--card-color-background);
  box-shadow: 0px 0px 3px 0px var(--primary-border);
  border-radius: 4px;
  /* border: 2px solid blue; */
  padding: 30px 20px 10px 20px;
}
