:root {
  --primary-color-text: black;
  --secondary-color-text: #f4f6f8;
  --primary-color-background: #f4f6f8;
  --secondary-color-background: #3f51b5;
  --card-color-background: white;
  --primary-border: gray;
}
