.inputContainer {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  /* border: 2px solid purple; */
  /* line-height: 100%; */
}

.label {
  min-width: 120px;

  /* border: 2px solid pink; */
}

.button {
  border: 1.5px dotted var(--primary-border);
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  width: 100px;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 4px;
  border-radius: 4px;
}

.smallButton {
  position: absolute;
  left: 85%;
  border: 1.5px dotted var(--primary-border);
  background-color: var(--secondary-color-background);
  color: var(--secondary-color-text);
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
}

.smallButton:hover {
  background-color: var(--hover-color-background);
  color: white;
}
.formWrapper {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
}

.wrapper {
  border: 2px solid var(--primary-border);
  border-radius: 4px;
  width: 400px;
  padding: 10px;
}

.title {
  border: none;
  outline: none;
  font-size: 1.8rem;
  margin-bottom: 15px;
  flex: 1;
  padding: 15px 10px;
}

.title:focus {
  background-color: gray;
  color: white;
  border-radius: 5px;
}

.title:focus::placeholder {
  color: white;
}

.input {
  max-width: 150px;
  padding: 3px 15px;
  height: 30px;
  flex: 1;
}

.sectionWrapper {
  border-top: 1px solid gray;
  padding: 15px 0;
}

.label {
  display: flex;
  align-items: center;
}

.step {
  border: 1px dotted var(--primary-border);
  background-color: var(--primary-color-background);
  width: 180px;
  padding: 10px;
  border-radius: 16px;
  flex: 1;
  overflow: hidden;
}

.stepBox {
  position: relative;
}

.stepBox textarea {
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--primary-border);
  margin-bottom: 1px;
  padding: 0 16px;
  padding-right: 50px;
}

.stepsContainer {
  margin-top: 15px;
}

.stepBox {
  margin-bottom: 5px;
  display: flex;
}

.deleteBtn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 5px;
}

.deleteBtn:hover {
  background-color: var(--hover-color-background);
}

.textStep {
  text-align: left;
}
